@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --accent: 240 5% 64.9%;
  --card: 0 0% 100%;
  --border: 214.3 31.8% 91.4%;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;
  --muted: 222 47% 11%;
  --accent: 217 33% 17%;
  --card: 224 71% 4%;
  --border: 217 33% 17%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

.container {
  @apply mx-auto px-6 max-w-6xl;
}
